/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-size: 1rem;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/

header {
  background-color: rgb(233, 233, 233);
  text-align: center;
}

.cardContainer {
  width: 15rem;
}

.savedVacation {
  width: 15rem;
}

#addToList {
  width: 100%;
}

#listTitle {
  text-align: center;
}

.relevantDates {
  font-size: 0.8rem;
}
